---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import RepoPreview from '../components/RepoPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import GithubPortfolio from '../components/GithubPortfolio.astro';


---

<BaseLayout
    title="My GitHub Repos | Scott Lawson"
    description="Check out my code"
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="GitHub Repositories"
                tagline="I love free and open source software!"
                align="start"
            />
            <GithubPortfolio />
        </main>
        <ContactCTA />
    </div>
</BaseLayout>
