---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => a.data.visPriority - b.data.visPriority
);

---

<BaseLayout
	title="My Maps | Scott Lawson"
	description="Dive in"
>

	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Maps"
				tagline="I'll take QGIS over ESRI any day, for the record."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
