---
import Icon from './Icon.astro';
---

<section class="box skills">
	<p>
		"Only the most naive scientist believes that the perfect model is the one that perfectly represents reality.  Such a model would have the same drawbacks as a map as large and detailed as the city it represents. , A map depicting every park, every street, every building, every tree, every pothole, every inhabitant, and every map.  Were such a map possible, it's specificity would defeat its purpose: to generalize and abstract.  Mapmakers highlight such features as their clients choose.  Whatever their purpose, maps and models must simplify as much as they mimic the real world." 
		-James gleick <i>Chaos</i>
	</p>
	<p style="text-align:right;">-James gleick <i>Chaos</i></p>	
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			gap: 0rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
